ul.main-menu 
    li.main-menu__item 
        a(href="#").bi.bi-journal-code.main-menu__link Mis cursos
    li.main-menu__item 
        a(href="#").bi.bi-chat-quote.main-menu__link Mis preguntas
    li.main-menu__item 
        a(href="#").bi.bi-people-fill.main-menu__link Comunidad
    li.main-menu__item 
        a(href="#").bi.bi-person-fill.main-menu__link Perfil