.main-nav 
    header.main-nav__header
        .main-nav__user
            img(src="../img/prof.jpg", alt="").main-nav__img
            .main-nav__name Alma Madero
            .main-nav__bio Prof Tech Academy
include menu