extends templates/template 

append config 
    -current = "cursos-page"
    -title = "mis cursos"

block header 
    include blocks/header

block nav
    include blocks/nav

block main
    -var n = 3
        while n--
            .course-card
                img(src="../img/sass-course.jpg", alt="").course-card__img
                a(href="#").bi.bi-star-fill
                footer.course-card__footer
                    .course-card__progress 
                        .course-card__progress__bar 
                        .course-card__progress__label 71% completado
                    .course-card-professor Alma Madero
    