extends templates/template 

append config 
    -current = "course-page"
    -title = "Sass desde cero"

block header 
    include blocks/header

block main
    header.course-header
        img(src="../img/sass-course.jpg", alt="").course-header__img
        .course-header__teacher 
            img(src="../img/prof.jpg", alt="").course-header__teacher__img
            .course-header__teacher__data
                .course-header__teacher__name Alma Madero
                    small Prof
                a(href="#").course-header__teacher_ask.button.cta Solicitar asesoria 
    .content
        h1.content-title Contenido del curso 
        .course-content
            .bi.bi-play-circle.course-content__item 01. Introduccion
            .bi.bi-play-circle.course-content__item 02. Sintaxis de Sass
            .bi.bi-play-circle.course-content__item 03. Tipos de datos
            .bi.bi-play-circle.course-content__item 04. Mixins
            .bi.bi-play-circle.course-content__item 05. Funciones 
            .bi.bi-play-circle.course-content__item 06. Condicionales 
            .bi.bi-play-circle.course-content__item 07. Iteraciones 
            .bi.bi-play-circle.course-content__item 08. Lists y Maps