.main-header {
  background: color(azul-medio);
  color: color(blanco);
  display: flex;
  padding: 0 $gutter;
  height: rem(50px);
  align-items: center;
  font-size: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}
