[class^="bi-"]::before {
  position: relative;
  top: 2px;
  margin-right: 0.5em;
}

.bi,
.bi-person::before {
  //   position: relative;
  //   top: 2px;
  margin-right: 0.5em;
}

.bi,
.bi-lock-fill::before {
  //   position: relative;
  //   top: 2px;
  margin-right: 0.5em;
}

.bi,
.bi-journal-code::before {
  margin-right: 0.5em;
}

.bi,
.bi-chat-quote::before {
  margin-right: 0.5em;
}

.bi,
.bi-people-fill::before {
  margin-right: 0.5em;
}

.bi,
.bi-person-fill::before {
  margin-right: 0.5em;
}
