.main-menu {
  list-style: none;
  margin: ($gutter * 2) 0 0;
  padding-left: $gutter;
  padding-right: $gutter;
  &__link {
    color: color(blanco);
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: $light;
    display: block;
    line-height: 2.5;
    border-bottom: 1px solid color(blanco);
  }
}
